 <form [formGroup]="formForUser" (ngSubmit)="saveData()" class="align-form">
   <div class="row">
     <div class="col-lg-10 heading">Add a new medicine</div>
     <!--Name Field-->
     <mat-form-field class="col-lg-4 col-md-12 col-sm-12 margin">
       <input matInput placeholder="Name" formControlName="name" (blur)="checkEmpty($event, 'name')" required maxLength=128>
       <mat-hint>{{errorMessage}}</mat-hint>
     </mat-form-field>

     <!--Brand Field-->
     <mat-form-field class="col-lg-4 col-md-12 col-sm-12 margin">
       <input matInput placeholder="Brand" required formControlName="brand" (blur)="checkEmpty($event, 'brand')" maxLength=254>
       <mat-hint>{{errorMessagebrand}}</mat-hint>
     </mat-form-field>


     <mat-form-field class="col-lg-4 col-md-12 col-sm-12 margin">
       <mat-label>Select Expiry Date</mat-label>
       <input matInput readonly [matDatepicker]="picker" formControlName="expiryDate" (dateChange)="checkEmpty($event, 'expiryDate')" required>
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
       <mat-hint>{{errorMessageDate}}</mat-hint>
     </mat-form-field>

     <!--Quantity-->
     <mat-form-field class="col-lg-4 col-md-12 col-sm-12 margin-top">
       <input matInput placeholder="Quantity" type="number" (blur)="checkEmpty($event, 'quantity')" formControlName="quantity">
       <mat-hint>{{errorMessageQty}}</mat-hint>
     </mat-form-field>

     <!--Price Field-->
     <mat-form-field class="col-lg-4 col-md-12 col-sm-12 margin-top">
       <input matInput placeholder="Price" required formControlName="price" (blur)="checkEmpty($event, 'price')">
       <mat-hint>{{errorMessagePrice}}</mat-hint>
     </mat-form-field>
   </div>
   <div class="row">
     <mat-form-field class="col-lg-8 col-md-12 col-sm-12 margin-top">
       <mat-label>Notes</mat-label>
       <textarea matInput #notes rows="4" formControlName="notes" maxlength="500"></textarea>
       <mat-hint align="end">{{notes.value.length}} / 500</mat-hint>
     </mat-form-field>
   </div>

   <div class="buttons-section">
     <div class="col-lg-12 align-book">
       <button mat-raised-button color="primary" type="submit" [disabled]="!formForUser.valid || errorMessageDate!=''">Add to Stock</button>
     </div>
   </div>
</form>
