.heading {
  font-size: 25px;
  margin-bottom: 18px;
  margin-top: 28px;
}

.mat-form-field-appearance-legacy .mat-hint {
  color: #d50000;
}

.mat-raised-button {
  width: 309px;
  margin-top: 14px;
}

.mat-raised-button {
  background-color: royalblue;
}

.margin{
    margin-bottom: 12px;
}

.margin-top{
    margin-top: 11px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: orangered;
}

.align-avail{
    padding-left:73px;
}

.align-book {
  margin-top: 30px;
  margin-left: -17px;
}

.availMessage {
  text-align: center;
  padding-left: 184px;
  margin-top: 12px;
  font-weight: 700;
}

.align-form {
  padding-left: 70px;
  padding-right: 70px;
}
